<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">
            <figure>
                <img src="" alt="Logo - O Senhor dos Chapéis">
            </figure>
        </a>
        <div id="search-tool">
            <!--search-tool-->
        </div>
        <nav>
            <ul>
                <a href=""><li><!--chip--></li></a>
                <a><li><!--chip--></li></a>
                <a><li><!--chip--></li></a>
            </ul>
        </nav>
    </header>
    <main>
        <div id="carousel">
            <!--carousel content-->
        </div>
        <a href=""><div id="card_a"></div></a>
        <a href=""><div id="card_b"></div></a>
        <a href=""><div id="card_c"></div></a>
    </main>
    <footer>
        <!--footer content-->
    </footer>
</body>
</html>