<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapéu</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <figure class="logo">
            <a href="/"><img src="/images/logo.png" alt="Logo - O Senhor dos Chapéis"></a>
        </figure>
        <form action="/busca" method="get" target="_self" class="search-box">
            <input name="search" type="text" placeholder="buscar" id="search-box" class="search-box"></input>
            <button type="submit">
                <img src="/images/lupa.png" alt="search-icon" class="search-icon" height="32px" width="32px">
            </button>
        </form>
    </header>
    <main class="product-main">
        <div class="product-info">
            <section class="product-gallery">
                <button id="previousButton"><img src="/images/previous.png" height="16px" width="16px"></button>
                <div id="product-display" class="product-display">
                    <div class="product-group">
                        <figure class="product-image"><img src="/images/produto_panama.jpg" alt="product-image"></figure>
                    </div>
                    <div aria-hidden="true" class="product-group">
                        <figure class="product-image"><img src="/images/produto_panama_2.jpg" alt="product-image"></figure>
                    </div>
                    <div aria-hidden="true" class="product-group">
                        <figure class="product-image"><img src="/images/produto_panama_3.jpg" alt="product-image"></figure>
                    </div>
                </div>
                <button id="nextButton"><img src="/images/next.png" height="16px" width="16px"></button>
            </section>
            <section class="product-description">
                <h1>Chapéu Panamá</h1>
                <p>
                    Eleve o seu visual de verão com o nosso Chapéu Panamá Clássico. Com um design que nunca sai de moda, este acessório é a união perfeita entre sofisticação e funcionalidade. Feito com uma trama leve e respirável, ele oferece o frescor necessário para os dias mais quentes, enquanto a aba larga garante proteção essencial contra os raios solares.
                    O acabamento com a fita em tom bege neutro adiciona um toque de charme rústico-chique, tornando-o versátil para transitar do dia de praia ao almoço no resort.
                </p>
            </section>
        </div>
        <div class="product-sellers">
            <h1>Revendedores</h1>
            <section class="card-box">
                <a target="_blank" href="https://www.amazon.com.br/Chap%C3%A9u-Panam%C3%A1-Shantung-Casual-Unissex/dp/B0B9YJ9Y61/ref=asc_df_B0B9YJ9Y61?mcid=5e1c785c13573bf18d4f278012f4aba5&tag=googleshopp00-20&linkCode=df0&hvadid=709966256552&hvpos=&hvnetw=g&hvrand=11827344279595767737&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001593&hvtargid=pla-1946256875708&language=pt_BR&gad_source=1&th=1&psc=1"><picture class="card">
                    <img src="/images/revendedor_amazon.png" alt="item">
                    <p class="card-description">Amazon</p>
                </picture></a>
                <a target="_blank" href="https://produto.mercadolivre.com.br/MLB-4034834775-chapeu-panama-aba-larga-casual-praia-masculino-feminino-top-_JM?matt_tool=48995110&matt_internal_campaign_id=&matt_word=&matt_source=google&matt_campaign_id=22603531562&matt_ad_group_id=181244933895&matt_match_type=&matt_network=g&matt_device=c&matt_creative=758138322200&matt_keyword=&matt_ad_position=&matt_ad_type=pla&matt_merchant_id=5522528071&matt_product_id=MLB4034834775-183375403872&matt_product_partition_id=2424443219726&matt_target_id=pla-2424443219726&cq_src=google_ads&cq_cmp=22603531562&cq_net=g&cq_plt=gp&cq_med=pla&gad_source=1&gad_campaignid=22603531562&gclid=Cj0KCQiAxJXJBhD_ARIsAH_JGjgvloMkm0WRfCigdvyX603rjAlqcMNzZ7XrhGuAj0Jn3itVnkZC1MMaAr50EALw_wcB"><picture class="card">
                    <img src="/images/revendedor_mercado_livre.png" alt="item">
                    <p class="card-description">Mercado Livre</p>
                </picture></a>
                <a target="_blank" href="https://www.lojasrenner.com.br/p/chapeu-de-praia-com-faixa-contrastante/-/A-805845756-br.lr?sku=805845764&p=refreshContent&utm_source=google&utm_medium=cpc&utm_campaign=google_rennerbr_conversao_venda_1p_feminino_feminino_pmax&gad_source=1&gad_campaignid=18127720492&gclid=Cj0KCQiAxJXJBhD_ARIsAH_JGjjEXYnbqHP6n07e1AoVBWVjRC6eoB57g-ElChRCHGeyemuEHlWLmSQaArbuEALw_wcB"><picture class="card">
                    <img src="/images/revendedor_renner.png" alt="item">
                    <p class="card-description">Renner</p>
                </picture></a>
            </section>
        </div>
    </main>
    <footer>
        <figure class="logo">
            <a href="/"><img src="/images/logo.png" alt="Logo - O Senhor dos Chapéis"></a>
        </figure>
        <a href="/sobre-nos"><span class="sobre-nos">Sobre nós</span></a>
    </footer>
    <script>
        let productScroll = document.getElementById("product-display");
        let previousButton = document.getElementById("previousButton");
        let nextButton = document.getElementById("nextButton");

        previousButton.addEventListener("click", ()=>{
            productScroll.scrollLeft -= 512;
        });
        nextButton.addEventListener("click", ()=>{
            productScroll.scrollLeft += 512;
        });
    </script>
</body>
</html>